<%= form_with(model: evaluation, class: "container-fluid g-3 m-auto mb-5 mt-5 border-light bg-light p-4 rounded col-lg-9 col-md-10 col-xs-12")  do |form| %>
  <div class="row m-auto">
    <div class="col-12 mb-3 ">
      <div class="row mb-3 ">
        <div class="col-lg-6 col-12 g-3 text-center">
          <h4><%= @for_student.user.name %></h4>
        </div>
        <div class="col-lg-6 col-12">
          <div class="row">
            <span class="col-6 text-start">1</span>
            <span class="col-6 text-end">10</span>
          </div>
          <input name="evaluation[score]" aria-label="Score" id="current_score_in" type="range" class="form-range row m-auto border-0" value="5" min="1" max="10" oninput="current_score_out.value = current_score_in.value">
          <div class="row d-flex">
            <span class="fs-5 text col-md-6 col-12 text-md-end text-center">Current Score: </span>
            <output id="current_score_out" class="fs-5 text p-0 col-md-6 col-12 text-dark text-center">
              5
            </output>
          </div>
        </div>
      </div>
      <textarea name="evaluation[comment]" class="form-control col-12" id="exampleFormControlTextarea1" rows="3" 
                placeholder="Include specific comments about <%= @for_student.user.name %> that justify the quantitative evaluation given above." aria-label="Include specific comments about <%= @for_student.user.name %> that justify the quantitative evaluation given above." required></textarea>
    </div>
  </div>
  <div class="actions row my-3 mx-0">
    <%= form.submit "Submit", class: "bg-btn btn-primary m-auto col-12 col-md-4 col-lg-3 p-2 mb-3 rounded", data: { confirm: 'Are you sure you want to submit this evaluation? You would not be able to edit this evaluation after submitting.' }%>
  </div>
<% end %>
