<%= form_with(model: evaluation, class: "container-fluid g-3 m-auto mb-5 mt-5 border-light bg-light p-4 rounded col-lg-9 col-md-10 col-xs-12")  do |form| %>
  <% if evaluation.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(evaluation.errors.count, "error") %> prohibited this evaluation from being saved:</h2>
      <ul>
        <% evaluation.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <div class="row m-auto">
    <div class="col-12 mb-3 ">
      <div class="row mb-3 ">
        <div class="col-lg-6 col-12 g-3 text-center">
          <h4><%= @for_student.user.name %></h4>
        </div>
        <div class="col-lg-6 col-12">
          <div class="row">
            <span class="col-6 text-start">1</span>
            <span class="col-6 text-end">5</span>
          </div>
          <input name="evaluation[score]" type="range" class="form-range row m-auto" min="1" max="5" step="1">
        </div>
      </div>
      <textarea name="evaluation[comment]" class="form-control col-12" id="exampleFormControlTextarea1" rows="3" 
                placeholder="Include specific comments about <%= @for_student.user.name %> that justify the quantitative evaluation given above." required></textarea>
    </div>
  </div>
  <div class="actions row my-3 mx-0">
    <%= form.submit "Submit", class: "bg-btn btn-primary m-auto col-12 col-md-4 col-lg-3 p-2 mb-3 rounded" %>
  </div>
<% end %>
