<p id="notice"><%= notice %></p>
<h1 class="text-center m-5">Evaluations for <%= Project.find(@project_id).project_name %></h1>
<table class="table table-light table-striped table-bordered rounded">
  <thead class="text-center">
    <tr>
      <th scope="col" class="col-2">Student</th>
      <th scope="col" class="col-2">Action</th>
      <th scope="col" class="col-1">Score</th>
      <th scope="col" class="col-5">Comment</th>
    </tr>
  </thead>
  <tbody>
    <% @teammates.each do |student|%>
      <% evaluation = Student.find(student.id).evaluations.find_by(project_id: @project_id)%>
      <tr>
        <td><%= student.user.name %></td>
        <% if evaluation.score.nil? %>
          <td class="text-center"><%= link_to 'Start Evaluation', new_evaluation_path(student.id) %></td>
        <% else %>
          <td class="text-center"><%= link_to 'Start Evaluation', "#", class:"visually-hidden" %></td>
        <% end %>
        <td class="text-center"><%= evaluation.score %></td>
        <td><%= evaluation.comment %></td>
      </tr>
    <% end %>
  </tbody>
</table>
<%# TODO: can delete %>
<% @evaluations.each do |evaluation| %>
  <tr>
    <td><%= evaluation.project_id %></td>
    <td><%= evaluation.student_id %></td>
    <td><%= evaluation.score %></td>
    <td><%= evaluation.comment %></td>
    <td><%= link_to 'Show', evaluation %></td>
    <td><%= link_to 'Edit', edit_evaluation_path(evaluation) %></td>
    <td><%= link_to 'Destroy', evaluation, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
