<p id="notice"><%= notice %></p>
<h1>Evaluations</h1>
<table>
  <thead>
    <tr>
      <th>Student</th>
      <th>Action</th>
      <th>Score</th>
      <th>Comment</th>
      <th colspan="4"></th>
    </tr>
  </thead>
  <tbody>
    <% @teammates.each do |student|%>
      <% evaluation = Student.find(student.id).evaluations.find_by(project_id: @project_id)%>
      <tr>
        <td><%= student.user.name %></td>
        <% if evaluation.score.nil? %>
          <td><%= link_to 'Start Evaluation', new_evaluation_path(student.id) %></td>
        <% else %>
          <td><%= link_to 'Start Evaluation', "#", class:"visually-hidden" %></td>
        <% end %>
        <td><%= evaluation.score %></td>
        <td><%= evaluation.comment %></td>
      </tr>
    <% end %>
    <% @evaluations.each do |evaluation| %>
      <tr>
        <td><%= evaluation.project_id %></td>
        <td><%= evaluation.student_id %></td>
        <td><%= evaluation.score %></td>
        <td><%= evaluation.comment %></td>
        <td><%= link_to 'Show', evaluation %></td>
        <td><%= link_to 'Edit', edit_evaluation_path(evaluation) %></td>
        <td><%= link_to 'Destroy', evaluation, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>
<br>
