<%# -------------------- Team Name --------------------------%>
<h1 class="text-center mt-5">Evaluation for <%="#{Project.find(params[:project_id]).project_name} (#{@team.team_name})"%></h1>
<%# ------------------------ grade scale description ------------------------- %>
<div class="row">
  <h2 class="text-center my-4">Grading Scale</h2>
  <% @grading_scale.each do |item|%>
    <div class="col-lg-12 col-xl">
      <%= item[:grade] %> -- <%= item[:title] %>
      <ul>
        <% item[:description].each do |line|%>
          <li><%= line %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
</div>
<%# -------------------- Evaluation Form --------------------------%>
<div class="row">
  <%= render 'form', evaluation: @evaluation, locals: @student %>
</div>
<%= link_to '&#8592; Back'.html_safe, url_for(:back), class:"btn btn-primary btn p-2 rounded col-1 mb-5" %>
