<h2 class="text-center my-5">Team: <%= @team.team_name %></h2>
<%= render '/teams/team_partials/select_student'%>
<div class="table-responsive">
  <table class="table table-light table-striped table-bordered rounded">
    <thead class="text-center">
      <tr>
        <th  scope="col" class="col-2">Students</th>
        <th  scope="col" class="col-2">Email</th>
        <th  scope="col" class="col-2">Action</th>
      </tr>
    </thead>
    <tbody>
      <% if @teamMembers.length != 0 %>
        <% @teamMembers.each do |member|%>
          <tr>
            <td class="text-center"> <%= member.name %></td>
            <td class="text-center"> <%= member.email %></td>
            <td class="text-center"><%= link_to 'Remove Student', remove_student_path(from: "team", id: Student.find_by(user_id: member.id, team_id: @team.id).id), method: :delete, data: { confirm: 'Are you sure you want to remove this student from the team?' } %></td>
          </tr>
        <% end %>
      <% end %>
    </tbody>
  </table>
</div>
<br/>
<br/>
<%= link_to '&#8592; Back'.html_safe, url_for("/courses/navigation?id=#{@team.course_id}"), class:"btn btn-primary btn p-2 rounded col-md-1 col-12 mb-5" %>
