<p id="notice"><%= notice %></p>
</br>
<p>
  <h2>Name:</h2>
  <%= @team.team_name %>
</p>


<table class="table table-light table-striped table-bordered rounded">
  <thead class="text-center"> 
    <tr>
      <th  scope="col" class="col-2">Members</th>
      <th  scope="col" class="col-2"></th>
    </tr>
  </thead>
  <tbody>
    <% @teamMembers.each do |member|%>
      <tr>
        <td class="text-center"> <%= member.name %>
        <td class="text-center"><%= link_to 'View Student', "/students/" + member.id.to_s %></td>
      </tr>
    <% end %>
  </tbody>
</table>




<%= link_to 'Edit', edit_team_path(@team) %> |
<%= link_to 'Back', course_link(@team.course_id) %>
