<p id="notice"><%= notice %></p>
</br>
<p>
  <strong>Name:</strong>
  <%= @team.team_name %>
</p>

<p>
  <strong>Members:</strong>
  <% i = 0 %>
  <% @studentIDs.each do |student|%>
    <%=student.name%>
  <%  end %>
</p>

<%= link_to 'Edit', edit_team_path(@team) %> |
<%= link_to 'Back', teams_path %>
