<h2>Team: <%= @team.team_name %></h2>
<table class="table table-light table-striped table-bordered rounded">
  <thead class="text-center">
    <tr>
      <th  scope="col" class="col-2">Students</th>
      <th  scope="col" class="col-2">Email</th>
      <th  scope="col" class="col-2">Action</th>
    </tr>
  </thead>
  <tbody>
    <% if @teamMembers.length != 0 %>
      <% @teamMembers.each do |member|%>
        <tr>
          <td class="text-center"> <%= member.name %></td>
          <td class="text-center"> <%= member.email %></td>
          <td class="text-center"><%= link_to 'Remove Student', remove_student_path(from: "team", id: Student.find_by(user_id: member.id, team_id: @team.id).id), method: :delete, data: { confirm: 'Are you sure you want to remove this student from the team?' } %></td>
        </tr>
      <% end %>
    <% end %>
  </tbody>
</table>
<%= link_to '&#8592 Back'.html_safe, url_for(:back), class:"btn btn-primary btn p-2 rounded col-1" %>
