<h2 class="text-center m-5">Student Dashboard for <%= @user.name %></h2>
<table class="table table-light table-striped table-bordered rounded text-center">
  <thead>
    <tr>
      <th scope="col" class="col-1">Project</th>
      <th scope="col" class="col-1">Action</th>
      <th scope="col" class="col-1">Team</th>
      <th scope="col" class="col-1">Class</th>
    </tr>
  </thead>
  <tbody>
    <% @students.each do |student|%>
      <% if !student.team.nil? %>
        <% ProjectTeam.where(team_id: student.team_id).each do |project_team| %>
          <% project = Project.find(project_team.project_id) %>
          <tr>
            <td><%= project.project_name %></td>
            <% evaluation = Evaluation.find_by(project_id: project.id, team_id: project_team.team_id) %>
            <% if Evaluation.where(project_id: project.id, team_id: project_team.team_id).find_by(score: nil, comment: nil).nil? %>
              <%# all assigned evaluations for this project has been filled by this team %>
              <td><%= link_to 'View Evaluations',  view_evaluations_path(project_id: project.id, for_student: student.id) %></td>
            <% elsif Evaluation.where(project_id: project.id, by_student: student.id).find_by(score: nil, comment: nil).nil? %>
              <%# all evaluations for this project has been filled by this student %>
              <td><%= link_to '', "#", class:"visually-hidden" %></td>
            <% else %>
              <%# there is evaluations for this project still not filled by this student %>
              <td><%= link_to 'Start Evaluation', evaluations_path(project_id: project.id, by_student: student.id) %></td>
            <% end %>
            <td><%= student.team.team_name %></td>
            <td><%= Course.find(student.team.course_id).course_name %></td>
          </tr>
        <% end %>
      <% end %>
    <% end %>
  </tbody>
</table>
