<h1>StaticPages#dashboard</h1>
<p>Find me in app/views/static_pages/dashboard.html.erb</p>
<h1>StaticPages#dashboard</h1>
<p>Find me in app/views/static_pages/dashboard.html.erb</p>
<h2 class="text-center m-5">Summary for <%= student.name %></h2>
<table class="table table-light table-striped table-bordered rounded">
  <thead class="text-center">
    <tr>
      <th scope="col" class="col-2">Class</th>
      <th scope="col" class="col-2">Team</th>
      <th scope="col" class="col-2">Activity</th>
      <th scope="col" class="col-1">Action</th>
      <th scope="col" class="col-5">Score</th>
    </tr>
  </thead>
  <tbody>
    <% student.evaluations.each do |eval|%>
      <tr>
        <td><%=student.eval.course.name %></td>
        <td><%=student.team.name %></td>
        <td><%=student.eval.project.name %></td>
        <% if eval.score.nil? %>
          <td class="text-center"><%= link_to 'Start Evaluation', new_evaluation_path(student.id) %></td>
        <% else %>
          <td class="text-center"><%= link_to 'Start Evaluation', "#", class:"visually-hidden" %></td>
        <% end %>
        <td class="text-center"><%= eval.project.score %></td>
      </tr>
    <% end %>
  </tbody>
</table>
