<% provide(:title, "Log in") %>
<div class="vh-100 d-flex align-items-center">
  <div class="bg-light m-auto border-light border-5 rounded col-md-10 p-sm-5 px-0 py-5 h-75 w-100 m-auto">
    <h1 class="text-center mb-5 my-5">Log in</h1>
    <div class="row text-center">
      <%= form_with(url: login_path, scope: :session, local: true, class: "col-lg-6 col-10 m-auto") do |form| %>
        <%= form.email_field :email, class: 'form-control col-12 mb-3', placeholder: "Email", "aria-label":"Enter Email" %>
        <%= form.password_field :password, class: 'form-control col-12 mb-3', placeholder:"Password", "aria-label":"Enter Password" %>
        <%= form.submit "Log in", class: "btn btn-primary col-6 mb-3" %>
      <% end %>
      <div class="d-flex flex-column align-items-center">
        <p class="mb-0 my-3 col-7 ">New Student? <%= link_to "Sign up now!", '/signupstudents' %></p>
        <p class="mb-0 my-3 col-7 ">New Professor? <%= link_to "Sign up now!", '/signupprofessors' %></p>
      </div>
    </div>
  </div>
</div>
