<%# TODO: i think can delete %>
<h1> Search Results: </h1>
<% if $studentUsers.length > 0 %>
  <p> Param:<%= params[:id] %> </p>
  <p><%= $studentUsers[0].name %></p>
  <p><%= $studentUsers[0].email %></p>
  <% $courseID = params[:id] %>
  <%= button_to "Add Student to Course", :method=> "create" %>
  <% createLink = "/" + params[:id].to_s + "/students/" + $studentUsers[0].id.to_s + "/edit" %>
<% else %>
  <p> No user with that email was found </p>
<% end %>
<p>Back to <%= link_to "Search",  navigation_courses_path(id: $courseID) %></p>
