<% provide(:title, 'Sign up') %>
<h1 class="text-center">Professor Sign up For Peer Evaluation</h1>
<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <%= form_with(:url => url_for(:controller => 'users', :action => 'createProfessor'), model: @professor, local: true) do |f| %>
      <%= render 'users/error_prof' %>
      <%= f.label :name %>
      <%= f.text_field :name %>
      <%= f.label :email %>
      <%= f.email_field :email %>
      <%= f.label :password %>
      <%= f.password_field :password %>
      <%= f.label :password_confirmation, "Confirmation" %>
      <%= f.password_field :password_confirmation %>
      <%= f.submit "Create my account", class: "btn btn-primary" %>
    <% end %>
    <br>
    <%= link_to 'Back To Login Page', root_path %>
  </div>
</div>
