<%= form_with(url: project_create_team_path(project_id: project.id), class:"row my-3 justify-content-center") do |form| %>
  <div class="actions col-7">
    <select class="form-select form-select-lg" aria-label="Select a team" name="team_id">
      <option selected>Select a team</option>
      <% Team.all.where(course_id: params[:course_id]).each do |team| %>
        <option value=<%= team.id %>><%= team.team_name %></option>
      <% end %>
    </select>
  </div>
  <%= form.hidden_field :project_id, value: project.id %>
  <div class="actions col-2">
    <%= form.submit "Add Team", class: "btn btn-primary btn-lg p-2 rounded" %>
  </div>
<% end %>
