<%# Show the evaluations for all students in a team for a particular project %>
<tr>
  <% num_student_in_team = team.students.length %>
  <% num_evaluation_for_team = team.evaluations.where(project_id: project.id).length %>
  <%# n student in team. m evaluations %>
  <% team_rowspan = num_student_in_team + num_evaluation_for_team %>
  <td rowspan=<%= team_rowspan + 1 %> class="align-middle"><%= team.team_name %></td>
  <% team.students.each do |student| %>
    <tr>
      <td rowspan=<%= num_student_in_team %> class="align-middle">Evaluations for <%= student.user.name %></td>
      <% team.evaluations.where(project_id: project.id).each do |evaluation| %>
        <% if evaluation.for_student == student.id %>
          <tr>
            <td><%= evaluation.score %></td>
            <td><%= evaluation.comment %></td>
            <td>By <%= Student.find(evaluation.by_student).user.name %></td>
          </tr>
        <% end %>
      <% end %>
    </tr>
  <% end %>
</tr>
