<%# Show the evaluations for all students in a team for a particular project %>
<% num_student_in_team = team.students.length %>
<%# - num_student_in_team to exclude prof evaluations %>
<% num_evaluation_for_team = team.evaluations.where(project_id: project.id).length - num_student_in_team %>
<%# n student in team. m evaluations %>
<% team_rowspan = num_student_in_team + num_evaluation_for_team %>
<% if team.students.length > 1%>
  <tr>
    <td rowspan=<%= team_rowspan + 1 + num_student_in_team %> class="align-middle"><%= team.team_name %></td>
  </tr>
  <% team.students.each do |student| %>
    <tr>
      <td rowspan=<%= num_student_in_team + 1 %> class="align-middle">Evaluations for <%= student.user.name %></td>
    </tr>
    <tr>
      <% prof_eval = Evaluation.where.not(score: nil).find_by(project_id: project.id, team_id: team.id, for_student: student.id, by_professor: true)%>
      <td rowspan=<%= num_student_in_team %> class="align-middle">
        <%# form to change avg. score %>
        <%= render 'projects/avg_score', prof_eval: prof_eval, project: project, team: team, student: student%>
      </td>
    </tr>
    <% team.evaluations.where(project_id: project.id).where.not(by_student: nil).each do |evaluation| %>
      <% if evaluation.for_student == student.id %>
        <% if !evaluation.score.to_i.zero? && evaluation.score.to_i < 5 %>
          <%# score lesser than 5 %>
          <tr class="fw-bold fst-italic">
            <td class="text-danger"><%= evaluation.score %></td>
            <td class="text-danger"><%= evaluation.comment %></td>
            <td class="text-danger">By <%= Student.find(evaluation.by_student).user.name %></td>
          </tr>
        <% else %>
          <tr>
            <td><%= evaluation.score %></td>
            <td><%= evaluation.comment %></td>
            <td>By <%= Student.find(evaluation.by_student).user.name %></td>
          </tr>
        <% end %>
      <% end %>
    <% end %>
  <% end %>
<% end %>
