<table class="table table-light table-striped table-bordered rounded mt-3 w-75 m-auto">
  <thead class="text-center">
    <tr>
      <th  scope="col" class="col-2">Team</th>
      <th  scope="col" class="col-4" colspan="3">Actions</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td colspan="4"><%# for aesthetic purposes %></td>
    </tr>
    <% counter = 1 %>
    <% project.project_teams.each do |project_team| %>
      <% team = Team.find(project_team.team_id)%>
      <tr>
        <td class="text-center"> <%= team.team_name %></td>
        <td class="text-center"><%= link_to 'View Team', team %></td>
        <td class="text-center">
          <%= link_to 'Edit Team', "#updateTeam#{counter}", "data-bs-toggle":"collapse", "aria-expanded":"false", "aria-controls":"updateTeam#{counter}" %>
        </td>
        <td class="text-center"><%= link_to 'Remove Team', project_remove_team_path(project_id: project.id, team: team, course_id: course_id), method: :delete, data: { confirm: 'Are you sure you want to remove this team? Removing the team will also delete all evaluations assigned to this team.' } %></td>
      </tr>
      <tr>
        <td colspan="4">
          <div class="collapse" id="updateTeam<%= counter %>">
            <div class="card card-body">
              <%= render '/courses/navigation_partials/update_team_form', team: team %>
            </div>
          </div>
        </td>
      </tr>
      <% counter += 1 %>
    <% end %>
  </tbody>
</table>
