<h1 class="text-center m-5">Projects for <%= Course.find(params[:course_id]).course_name %></h1>
<%# ----------------------------------- Create Project -------------------------------------%>
<%= render 'create-project-form' %>
<%# ----------------------------------- View Project -------------------------------------%>
<table class="table table-light table-striped table-bordered rounded text-center">
  <thead>
    <tr>
      <th scope="col" class="col-2">Project Name</th>
      <th scope="col" class="col-2">Course</th>
      <th scope="col" class="col-4" colspan="3">Actions</th>
    </tr>
  </thead>
  <tbody>
    <td colspan="5"><%# for aesthetic purposes %></td>
    <% counter = 1 %>
    <% @projects.each do |project| %>
      <tr>
        <td><%= project.project_name %></td>
        <td><%= Course.find(project.course_id).course_name %></td>
        <td>
          <%= link_to 'Add/Remove Team', "\#addTeam#{counter}", "data-bs-toggle":"collapse"%>
        </td>
        <td>
          <%= link_to 'Show Evaluations', "\#showEval#{counter}", "data-bs-toggle":"collapse"%>
        </td>
        <td><%= link_to 'Delete Project', project, method: :delete, data: { confirm: 'Are you sure you want to delete this project and its related data?' } %></td>
      </tr>
      <tr >
        <td colspan="5">
          <%# add team to project %>
          <div class="collapse" id=<%= "addTeam#{counter}" %>>
            <div class="card card-body">
              <%= render 'projects/add_team', project: project %>
              <%# show teams currently in this project if there is any%>
              <% if ProjectTeam.where(project_id: project.id).present? %>
                <%= render '/projects/show_teams_table', project: project, course_id: project.course_id %>
              <% end %>
            </div>
          </div>
          <%# Show Evaluations of student %>
          <div class="collapse" id=<%= "showEval#{counter}" %>>
            <div class="card card-body">
              <table class="table table-light table-striped table-bordered rounded text-center">
                <tr>
                  <th>Team</th>
                  <th>For Student</th>
                  <th>Score</th>
                  <th>Comment</th>
                  <th>By Student</th>
                </tr>
                <% project.project_teams.each do |project_team| %>
                  <%# this team is assigned the project %>
                  <%= render 'evaluations-for-a-team', team: Team.find(project_team.team_id), project: project %>
                <% end %>
              </table>
            </div>
          </div>
        </td>
      </tr>
      <% counter += 1 %>
    <% end %>
  </tbody>
</table>
<br />
<%= link_to 'Back', courses_path %>
