<h1 class="m-5 text-center">Courses</h1>
<%= render '/courses/index_partials/create_course_form' %>
<table class="table table-light table-striped table-bordered rounded text-center align-middle mt-4">
  <thead>
    <tr>
      <th colspan="1">Course Name</th>
      <th colspan="4"> Action</th>
    </tr>
  </thead>
  <tbody>
    <td colspan="5"><%# for aesthetic purposes %></td>
    <% counter = 1 %>
    <% Course.all.each do |course| %>
      <tr>
        <td class="align-middle"><%= course.course_name %></td>
        <td class="align-middle"><%= link_to 'Enter Course', navigation_courses_path(id: course.id) %></td>
        <td class="align-middle"><%= link_to 'View Projects', projects_path(course_id: course.id) %></td>
        <td class="align-middle">
          <%= link_to 'Edit Course', "#updateCourse#{counter}", "data-bs-toggle":"collapse", "aria-expanded":"false", "aria-controls":"update course #{counter}" %>
        </td>
        <td class="align-middle"><%= link_to 'Delete Course', delete_courses_path(id: course.id), method: :delete, data: { confirm: 'Are you sure? Deleting this course will also delete all related data, including students and teams.' } %></td>
      </tr>
      <tr>
        <td colspan="5">
          <div class="collapse" id="updateCourse<%= counter %>">
            <div class="card card-body">
              <%= render '/courses/index_partials/update_course_form', course: course%>
            </div>
          </div>
        </td>
      </tr>
      <% counter += 1 %>
    <% end %>
  </tbody>
</table>
<%# TODO: find a way to display this! %>
