<p id="notice"><%= notice %></p>
<h1> <%= @course.course_name %> </h1>
<h2> <%= @course.course_num %> </h2>

<table class="table table-light table-striped table-bordered rounded">
  <thead class="text-center"> 
    <tr>
      <th  scope="col" class="col-2">Teams</th>
      <th  scope="col" class="col-2"></th>
      <th  scope="col" class="col-2"></th>
    </tr>
  </thead>

  <tbody>
    <% @teams.each do |team| %>
      <tr>
        <td class="text-center"> <%= team.team_name %>
        <td class="text-center"><%= link_to 'Show', team %></td>
        <td class="text-center"><%= link_to 'Destroy', team, method: :delete, data: { confirm: 'Are you sure? Destroying the team will also destroy all students assigned to this team.' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<table class="table table-light table-striped table-bordered rounded">
  <thead class="text-center"> 
    <tr>
      <th  scope="col" class="col-2">Students</th>
    </tr>
  </thead>

  <tbody>
    <% @students.each do |student| %>
      <tr>
        <td class="text-center"> <%= @users.find(student.user_id).name  %>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to 'New Team', new_course_team(@courseID) %>
<%= link_to 'New Student', new_course_student(@courseID) %>





<%= link_to 'Back', courses_path %>
