<h1> <%= @course.course_name %> </h1>
<h2 class="mb-5"> <%= @course.course_num %> </h2>
<%#----------------------------- Teams Table -----------------------------%>
<%= render '/courses/navigation_partials/create_team_form' %>
<%= render '/courses/navigation_partials/teams_table'%>
<%#----------------------------- Students Table -----------------------------%>
<%= render '/courses/navigation_partials/search_student'%>
<% if !params[:found].nil? && params[:found] = "success" %>
  <%= render '/courses/navigation_partials/select_student_team', student: Student.find(params[:student_id]) %>
<% end %>
<%= render '/courses/navigation_partials/students_table'%>
<%= link_to 'New Student', new_course_student(@course.id) %>
<%= link_to 'Back', courses_path %>
